.badge {
  margin-left: 2%;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px;
  font-size: xx-small;
  color: purple;
  cursor: default;
  background-color: white;
}

.display-right {
  float: right;
}

.common-font {
  font-family: Helvetica;
  font-size: small;
}

.mar-left {
  margin-left: 2%;
}

.img-size {
  width: 6%;
  height: 5%;
}

.profile-image {
  padding: 6px;
  border-radius: 50%;
  background-color: #580058;
  color: white;
}

.notify {
  padding-right: 10px;
}
