.icon-order {
  float: right;
  color: #612e86;
}

.common {
  float: center;
  background-color: rgb(245, 245, 250);
  font-family: Helvetica;
  font-size: small;
}

.grey-font {
  color: grey;
}

.small-font {
  font-size: x-small;
}

.link-text {
  color: #82599f;
}

.main-card {
  max-width: 75%;
}

.display-right {
  float: right;
}

.order-details-card {
  width: 24%;
  background-color: #f0ebf3;
  border-radius: 5px;
}

.order-font {
  font-size: x-large;
}

.order-status {
  font-size: x-small;
  padding-top: 10px;
  color: grey;
}

.order-cancel {
  color: #e72828;
}

.order-not-cancel {
  color: #2fb167;
}

.growth-percent {
  font-size: xx-small;
  color: grey;
}

.left-0 {
  padding-left: 0;
}

.e-card {
  width: 49%;
  height: 30%
}

.branch-dropdown {
  border: solid 0.2px;
  border-radius: 5px;
  border-color: rgb(198, 196, 196);
}
